body{
    background: rgb(10, 10, 10);
    font: normal 15px Arial;
}

header{
    color:white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}
img{
    width: 490px;
    text-align: center;
    
}
div {
    text-align: center;
    padding: 8px;
    background: normal Arial;
}

P{
    text-align: center;
}

footer{
    
    color: white;
    text-align: center;
    font-style: italic;
}